## Y-Finance Python scrapper
Test of package to download data from Yahoo APIs.

In [1]:
#!pip install yfinance --upgrade --no-cache-dir

https://github.com/ranaroussi/yfinance

In [2]:
import yfinance as yf
from datetime import date
%matplotlib inline

In [3]:
str(date.today())

'2019-09-11'

In [9]:
data = yf.download("SPY AAPL", start="1950-01-01", end=str(date.today()))

[*********************100%***********************]  2 of 2 downloaded

In [10]:
data

           Adj Close           Close            High             Low          \
                AAPL     SPY    AAPL     SPY    AAPL     SPY    AAPL     SPY
Date
1980-12-12      0.41     NaN    0.51     NaN    0.52     NaN    0.51     NaN
1980-12-15      0.39     NaN    0.49     NaN    0.49     NaN    0.49     NaN
1980-12-16      0.36     NaN    0.45     NaN    0.45     NaN    0.45     NaN
1980-12-17      0.37     NaN    0.46     NaN    0.46     NaN    0.46     NaN
1980-12-18      0.38     NaN    0.48     NaN    0.48     NaN    0.48     NaN
...              ...     ...     ...     ...     ...     ...     ...     ...
2019-09-04    209.19  294.04  209.19  294.04  209.48  294.06  207.32  292.31
2019-09-05    213.28  297.82  213.28  297.82  213.97  298.83  211.51  294.00
2019-09-06    213.26  298.05  213.26  298.05  214.42  298.76  212.51  297.42
2019-09-09    214.17  298.20  214.17  298.20  216.44  299.24  211.07  297.16
2019-09-10    216.70  298.13  216.70  298.13  216.78  298.20  211.71  295.97

              Open             Volume
              AAPL     SPY       AAPL         SPY
Date
1980-12-12    0.51     NaN  117258400         NaN
1980-12-15    0.49     NaN   43971200         NaN
1980-12-16    0.45     NaN   26432000         NaN
1980-12-17    0.46     NaN   21610400         NaN
1980-12-18    0.48     NaN   18362400         NaN
...            ...     ...        ...         ...
2019-09-04  208.39  293.14   19188100  46887300.0
2019-09-05  212.00  296.79   23913700  83258100.0
2019-09-06  214.05  298.17   19362300  49584300.0
2019-09-09  214.84  299.14   27309400  51260300.0
2019-09-10  213.86  297.36   31693800  57829900.0

[9768 rows x 12 columns]

In [6]:
ticker=yf.Ticker('AAPL')

In [7]:
ticker.info

{'ask': 223.52,
 'askSize': 8,
 'averageDailyVolume10Day': 23581716,
 'averageDailyVolume3Month': 25487054,
 'bid': 223.52,
 'bidSize': 8,
 'bookValue': 21.286,
 'currency': 'USD',
 'dividendDate': 1565827200,
 'earningsTimestamp': 1564531200,
 'earningsTimestampEnd': 1572886800,
 'earningsTimestampStart': 1572447540,
 'epsForward': 12.78,
 'epsTrailingTwelveMonths': 11.777,
 'esgPopulated': False,
 'exchange': 'NMS',
 'exchangeDataDelayedBy': 0,
 'exchangeTimezoneName': 'America/New_York',
 'exchangeTimezoneShortName': 'EDT',
 'fiftyDayAverage': 207.004,
 'fiftyDayAverageChange': 16.585999,
 'fiftyDayAverageChangePercent': 0.08012405,
 'fiftyTwoWeekHigh': 233.47,
 'fiftyTwoWeekHighChange': -9.880005,
 'fiftyTwoWeekHighChangePercent': -0.04231809,
 'fiftyTwoWeekLow': 142.0,
 'fiftyTwoWeekLowChange': 81.59,
 'fiftyTwoWeekLowChangePercent': 0.57457745,
 'fiftyTwoWeekRange': '142.0 - 233.47',
 'financialCurrency': 'USD',
 'forwardPE': 17.495306,
 'fullExchangeName': 'NasdaqGS',
 'gmtOffSetMilliseconds': -14400000,
 'language': 'en-US',
 'longName': 'Apple Inc.',
 'market': 'us_market',
 'marketCap': 1010443419648,
 'marketState': 'POST',
 'messageBoardId': 'finmb_24937',
 'postMarketChange': 0.26000977,
 'postMarketChangePercent': 0.11628864,
 'postMarketPrice': 223.85,
 'postMarketTime': 1568236442,
 'priceHint': 2,
 'priceToBook': 10.504087,
 'quoteSourceName': 'Nasdaq Real Time Price',
 'quoteType': 'EQUITY',
 'region': 'US',
 'regularMarketChange': 6.8899994,
 'regularMarketChangePercent': 3.1795106,
 'regularMarketDayHigh': 223.64,
 'regularMarketDayLow': 217.73,
 'regularMarketDayRange': '217.73 - 223.64',
 'regularMarketOpen': 218.07,
 'regularMarketPreviousClose': 216.7,
 'regularMarketPrice': 223.59,
 'regularMarketTime': 1568232001,
 'regularMarketVolume': 41217957,
 'sharesOutstanding': 4519179776,
 'shortName': 'Apple Inc.',
 'sourceInterval': 15,
 'symbol': 'AAPL',
 'tradeable': True,
 'trailingAnnualDividendRate': 2.96,
 'trailingAnnualDividendYield': 0.013659437,
 'trailingPE': 18.98531,
 'triggerable': True,
 'twoHundredDayAverage': 196.52261,
 'twoHundredDayAverageChange': 27.067383,
 'twoHundredDayAverageChangePercent': 0.13773164}

In [8]:
ticker.financials

,9/29/2018,9/30/2017,9/24/2016,9/26/2015
,,,,
Total Revenue,265595000,229234000,215639000,233715000
Cost of Revenue,163756000,141048000,131376000,140089000
Gross Profit,101839000,88186000,84263000,93626000
Operating Expenses,-,-,-,-
Research Development,14236000,11581000,10045000,8067000
Selling General and Administrative,16705000,15261000,14194000,14329000
Non Recurring,NaN,NaN,NaN,NaN
Others,NaN,NaN,NaN,NaN
Total Operating Expenses,194697000,167890000,155615000,162485000
Operating Income or Loss,70898000,61344000,60024000,71230000
Income from Continuing Operations,-,-,-,-
Total Other Income/Expenses Net,2005000,2745000,1348000,1285000
Earnings Before Interest and Taxes,70898000,61344000,60024000,71230000
Interest Expense,-3240000,-2323000,-1456000,-733000
Income Before Tax,72903000,64089000,61372000,72515000
Income Tax Expense,13372000,15738000,15685000,19121000
Minority Interest,NaN,NaN,NaN,NaN
Net Income From Continuing Ops,59531000,48351000,45687000,53394000
Non-recurring Events,-,-,-,-
Discontinued Operations,NaN,NaN,NaN,NaN
Extraordinary Items,NaN,NaN,NaN,NaN
Effect Of Accounting Changes,NaN,NaN,NaN,NaN
Other Items,NaN,NaN,NaN,NaN
Net Income,-,-,-,-
Net Income,-,-,-,-
Preferred Stock And Other Adjustments,NaN,NaN,NaN,NaN
Net Income Applicable To Common Shares,59531000,48351000,45687000,53394000